* {
    margin: 0;
    padding: 0;
    height: auto;
}
.azeret-mono-font {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;

  }
main{
    width: 1400px;
    margin: 0 auto;
}
.text-center {
    text-align: center;
}

#banner {
    background-image: url(../assets/Hero-bg.png);
    width: 1400px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 #banner .banner-img {
    width: 897px;
    height: 450px;
    margin-top: 0px;
    margin-inline: auto;
}
#banner .banner-img .subtitle{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 35px;
    font-weight: 800;
    line-height: 49px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 10px;
}
#banner .banner-img .png {
    text-align: center;
    margin: 26px o;
}
#banner .banner-img .png .img {
    width: 200px;
    height: 198px;
}
#banner .banner-img .description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 30px;
}
.btn-container {
    text-align: center;
}
.btn {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: center;
    background-color: #0D1321;
    padding: 16px 19px 16px 19px;
    margin-bottom: 35px;
    text-decoration: none;
}
/* frane style-------------------------------- */

.frame {
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding-top: 110px;
    padding-bottom: 90px;
}
.frame .subtion {
    /* display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding-top: 110px;
    padding-bottom: 90px; */

}
.frame .section .subtitle {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    width: 800px;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    

}
.frame .section .description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    width: 800px;

}
#frame-2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}
#frame-2 .container {
    text-align: left;

}
hr {
    visibility: hidden;
}
#frame-2 .items {
    position: static;
    width: 850px;
    /* height: 240px; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: ;
}
#frame-2 .items .item-td {
    position: static;
    width: 500px;
    /* height: 160px; */
    display: flex;
    text-align: left;
    font-size: ;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 10px;
    gap: 15px;
    justify-content: space-between;
}
#frame-2 .items .btn-container {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
}
#frame-2 .items .item-title {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}
#frame-2 .items .btn-container {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 10px 30px 10px 30px;

}
.item-V {
    height: 500px;
    text-align: center;
    justify-content: center;
    display: flex;
}
/* .skills--------- */
.skills {
    width: 1100px;
justify-content: center;
}
.skills-container {
    display: flex;
    gap: 30px;
    text-align: left;

}
.skills-section-1{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.skills-section-2 {
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.skills-section-3 {
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
/* footer------------------------------------------------------- */
#myfooter {
    width: 100%;
    height: 300px;
    background-image: url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 64px 48px 64px 48px;
    position: relative;
    overflow: hidden;
}


.banner-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, .2);
}
.footer-title {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 16px;
    margin-top: 50px;
}
.footer-description {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 0.7px;
    padding-top: 24px;
}
#myfooter .banner-content .search {
    display: flex;
    padding-top: 50px;
    justify-content: center;
}
#myfooter .banner-content input {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    background: rgb(255, 255, 255);
    padding: 20px 93px 19px 30px;
    border-radius: 8px;
    border: none;
    margin-right: 16px;
}
#myfooter .banner-content button {
    padding: 17px 20px 17px 20px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    border: none;
}
/* ---------------------------------------------------- */
.footer-end{
    width: 100%;
    margin-top: 20px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);   
}
.footer-container{
    
    padding: 32px 180px 32px 180px;
    display: flex;   
    justify-content: end;
}
.footer-container .footer-con {
    margin-right: 25px;
}